@model Vidly.ViewModels.IndexMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>
@if ( Model.Movies.Count == 0 )
{
    <text>No movies exist</text>
}
else
{
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">

                <div class="bs-component">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"><u>Movie</u></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var movie in Model.Movies)
                        {
                            <tr class="table-active">
                                <th scope="row">@movie.Name</th>
                            </tr>
                        }

                        </tbody>
                    </table>
                    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
                </div>
            </div>
        </div>
    </div>
}

